body {
    background-color: #fbeaeb;
}

h1, h2, h3 {
    color: #fbeaeb;
    background-color: #2f3c7e;
    text-align: center;
}

ul {
    list-style-type: square;
}

a {
    color: #0000ff;
}

.center-img {
    text-align: center;
}

.box {
    background-color: #2f3c7e;
    padding: 60px;
}

li, p {
    padding: 20px;
    background-color: #00ffff;
    margin: 30px;
    color: #000000;
}
